<div class="header">

  <div id="name">
    <a href="http://www.rebeccapalmore.com/" target="_blank">
      Rebecca Palmore
    </a>
  </div>
  <div class="links">
    <a href="http://www.rebeccapalmore.com/" target="_blank">
      About
    </a>
  </div>
  <div class="links">
    <a href="http://www.rebeccapalmore.com/portfolio" target="_blank">
      Portfolio
    </a>
  </div>
  <div class="links">
    <a href="http://www.rebeccapalmore.com/contact" target="_blank">
      Contact
    </a>
  </div>
</div>

<div class="main">

  <img src="../assets/img/burger.jpg" alt="Burger illustration (prawny/pixabay"/>

  <h1 data-text="Eat-Da-Veggie-Burger!">Eat-Da-Veggie-Burger!</h1>
</div>

<div class="both">

  <div class="burger_left">
  {{#each burgers}}
    {{#unless this.devoured}}
    <div class="burger">
      <div class="order">
        {{this.burger_name}}
      </div>
      <div>
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="devour">
            Devour it!
          </button>
        </form>
      </div>
    </div>
    {{/unless}}
  {{/each}}
  </div>

  <div class="burger_right">
  {{#each burgers}}
    {{#if this.devoured}}
    <div class="devoured-burgers">
      <div class="order">
        {{this.id}}
        {{this.burger_name}}
          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="false">
            <button type="submit" class="order-again">
              Order it!
            </button>
          </form>
      </div>
    </div>
    {{/if}}
  {{/each}}
  </div>
</div>

<div class="main">

  <form class="create-update-form" action="/" method="POST">
    <div class="form-group">
      <input type="text" id="ca" name="name" placeholder="Your dream veggie burger" required/>
    </div>
    <button type="submit" id="order">
      Place Order
    </button>
  </form>

  <p>Hungry? Type in the name of the veggie burger you want to eat, then place your order.</p>
  
  <div class="line"></div>

</div>

